// Mixins Here
.button {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  font-size: 1.5rem;
  text-align: center;
  background-color: @btn-bg-color;
  color: @sea-shell;
  &:hover {
    background-color: @river-bend;
  }
}